<nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a id="navbarProjectName" class="navbar-brand" href="/home/portal.html">
      Aria OS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      
      <ul class="navbar-nav me-auto">
              
        <li class="nav-item">

          <a class="nav-link" href="/home/portal.html">Home</a>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="/generate/">Generate</a>

        </li>
        
        <li class="nav-item">

          <a class="nav-link" href="/generate/tools/tools.html">Tools</a>

        </li>

          <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          
            Brand
            
          </a>
          
          <div class="dropdown-menu">

            <a class="dropdown-item" href="/brand/configure/profile.html">Profile</a>

            <a class="dropdown-item" href="/brand/configure/minime.html">Mini-Me</a>

            <a class="dropdown-item" href="/brand/seeding/transcripts.html">Transcripts</a>

            <a class="dropdown-item" href="/brand/seeding/knowledge.html">Knowledge</a>

          </div>

        </li>

        <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          
          Content
          
          </a>
          
          <div class="dropdown-menu">

            <a class="dropdown-item" href="/content/configure/blueprints.html">Blueprints</a>

            <a class="dropdown-item" href="/content/configure/rules.html">Rules</a>

            <a class="dropdown-item" href="/content/configure/wordpress.html">Export</a>                        

            <a class="dropdown-item" href="/content/configure/advanced.html">Advanced</a>

          </div>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="/home/library.html">Library</a>

        </li>
        
      </ul>
      


         <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a id="navbarUserName" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          
            --
          
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            
            <a class="dropdown-item" href="/home/brand.html">Switch Brand</a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="settings.html">Settings</a>
            <a class="dropdown-item" href="upgrade.html">Upgrade</a>
            <a class="dropdown-item" href="support.html">Support</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#" onclick="logout()" >Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
